*{
    border: 1px solid red;
    margin: 0;

}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;
}

#top{

 display: grid;
 grid-template-columns: 1fr 6fr;
 
 grid-row-start: 0;
 grid-row-end: 0;
    
 grid-column-start: 1;
 grid-column-end: 3;

 
}

#left{

    background-color: rgb(216, 164, 216);
    display: grid;
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 1;
}

#main{

    display: grid;
    grid-row-start: 2;
    grid-row-end: 2;

    grid-column-start: 2;
    grid-column-end: 2;
}

#form {
    width: 550px;
    height: 250px;
    display: grid;
    background-color: beige;
}

#floating{
    position:fixed;
    bottom: 0;
    right:0;


}
.hidden{
    display: none;


}
.active{
    display:grid;


}

.hid{
    display: none !important;

} 

.vis{
    display: grid;
}