*{
    /* border: 1px solid rgb(0, 0, 0); */
    margin: 0;
    font-family: 'Times New Roman';
    letter-spacing: 5px;

}

body{
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 6fr;

}

#top{
padding-top: 10px;
 display: grid;
 /* grid-auto-flow:column; */
 grid-template-columns: 1fr 2fr 2fr;

 grid-row-start: 0;
 grid-row-end: 0;
 grid-column-start: 1;
 grid-column-end: 6;
 height: 50px;
 align-content: center;
 justify-content: center;
 text-align: center;
 align-items: center;

}
#openProjectWindow, #clear,#openTaskWindow{
    display: grid;
    height: 10vh;
    text-align: center;
    align-items: center;
    transition: 0.5s;



}

#openProjectWindow:hover, #clear:hover,#openTaskWindow:hover{
    color: rgb(178 ,125,108);

}
#openTaskWindow{

}

#left{
    background-color: rgb(195, 180, 172);
    display: grid;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 1;
    box-shadow: 1px 10px 25px 5px   rgb(31, 10, 3);
    

}

#projectform{
    border-top: 1px solid black ;
    display: grid;
    grid-row-start: 1;
    grid-row-end: 1;


}

#newProject{
    border: none;
    width: 100%;   
    padding: 0;
    border-top:3px solid rgb(242, 234, 229);
    text-align: center;
 

}
#newProject:focus{

    outline: none;
}
#addProjectButton{
    border: none;
    background-color: rgb(195, 180, 172); ;
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;

  
}
#listOfProjects{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 4;
    
}
#listOfProjects >div{
    display: grid;
    grid-template-columns: 10fr 1fr;
    border-bottom: 1px solid black;
}
.del-project-but,.del-but{
    background-color: rgba(223, 188, 169, 0);
    border: none;
    font-size: large;
    display: grid;
    border-left: 2px solid rgb(178, 125, 108);

}
#listOfProjects >div >div{
    text-decoration: none;
    transform: 0.5s;
}
#listOfProjects >div >div:hover{
    transform: 0.5s;
    text-decoration: underline;

}


#together{
    background-color: rgb(242, 234, 229);

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 6;
}

#main{
    border-left: 1px solid black;
    padding-left: 20px;
    display: grid;
    grid-row-start: 2;
    grid-row-end: 2;
    font-weight: 600;
    font-size: 20px;

    grid-column-start: 2;
    grid-column-end: 2;
}

#list{
    font-weight: 100;
    font-size: 15px;
    display: grid;
    gap: 20px;

}
#list>div{
    border-bottom: 1px solid black;
    font-weight: 800;



}
#list>div>div>div{
    background-color: rgba(178, 126, 108, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: 1s;
    font-weight: 100;

}
#list>div>div>div>div{
    background-color: rgba(255, 255, 255, 0.5);
}

#list>div>div>div:hover{
    background-color: rgba(178, 126, 108, 0.062);
    border-bottom: 1px solid black;
}





#form {
    font-size: 25px;
    text-align: center;
    width: 550px;
    height: 250px;
    padding: 25px;
    /* background-color: rgb(234, 227, 226); */
    background: linear-gradient(66deg,  rgb(234, 227, 226) 77%,
    rgb(195, 180, 172)34%);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 1px solid rgb(178, 125, 108);
    gap: 5px;
}
#form>div{
    font-size: 15px;

    display: grid;

    text-align: left;
    grid-template-columns: 1fr 2fr;
}
#addButton>#add{
    margin-top: 20px;
    grid-column-start:1 ;
    grid-column-end: 3;
    box-shadow: 10px 10px 50px 5px   rgba(31, 10, 3, 0);
    transition: 1s;
}
#addButton>#add:hover{
    box-shadow: 10px 1px 60px 5px   rgba(31, 10, 3, 0.267);
}



#floating{
    position:absolute;
    box-shadow: 1px 10px 35px 10px   rgb(31, 10, 3);
}
.hidden{
    overflow: hidden;

    transition: top 1s;
    top: -400px;


}
.active{
    overflow:visible;
    transition: top 1s;

    top: 100px;


}

.hid{
    overflow:hidden;
    max-width: 0;
    transition: max-width 0.5s;
} 
.vis{
    overflow:visible;
    transition: max-width 0.5s;
    max-width: 100%;
}




.start{
    overflow:hidden;
    max-height: 0;
    transition: max-height 0.5s;
    transition: 0.5s;
    padding-left: 0px;
    border-left: 50px solid rgb(178, 125, 108);


}

.aktyw{
    overflow:visible;
    background-color: white;
    transition: max-height 0.5s;
    max-height: 100px;
    border-left: 1px solid black;
    padding-left: 20px;

}

.nieaktyw{

}

.del-but{
    background-color: rgba(178, 126, 108, 0);
    font-size: 10px;
    transition: 0.3s;
}
.del-but:hover{
    font-size: 11px;
    background-color: rgba(178, 126, 108, 1);

}